<% include partials/head %>
<body>
<div class="col-sm-8 col-sm-offset-2">
  <div class="jumbotron text-center">
    <h1>ExpressJs, PassportJs and Github Authentication</h1>
    <% if (!user) { %>
      <h2>Welcome! Please log in.</h2>
      <!--<a href="/login" class="btn btn-default"><span class="fa fa-sign-in"></span> Login</a>-->
      <a href="/auth/github" class="btn btn-default"><span class="fa fa-sign-in"></span> Login with GitHub</a>
    <% } else { %>
      <p>
        <a href="/profile">Account</a> |
        <a href="/logout">Log Out</a>
      </p>
      <h2>Hello, <%= user.displayName %>.</h2>
    <% } %>
  </div>
</div>
</body>
</html>
