
<% include partials/head %>

<body>
<div class="col-sm-8 col-sm-offset-2">
    <div class="jumbotron text-center">
        <h1>OC Acquia Proxy</h1>
        <p>
            <a href="/">Home</a> |
            <a href="/profile">Account</a> |
            <a href="/logout">Log Out</a>
        </p>
        <h1 class=" fa fa-user"> Profile</h1><br>
        <p>ID: <%= user.id %></p>
        <p>Username: <%= user.username %></p>
        <p>Name: <%= user.displayName %></p>
        <p>Email: <%= user.emails[0].value %></p>
    </div>
</div>
</body>
</html>